.hero {

    padding-top: 145px;
    padding-bottom: calc(var(--section-gap) * 0.25);

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        margin-left: -7px;
        margin-top: 206px;
    }

    &__content-title {
        max-width: 595px;
        margin-bottom: 30px;
    }

    &__content-text {
        font-size: 1.6rem;
        font-weight: normal;
        color: $text-color;
        line-height: 2.5rem;
        letter-spacing: 0.2rem;
        max-width: 550px;
        margin-bottom: 25px;
    }

    &__content-button {
        width: fit-content;
        text-align: center;
        border-radius: 10px;
        background-color: $accent-color;
        margin-bottom: 20px;
        cursor: pointer;
        transition: all .5s;
    }

    &__content-link {
        padding: 0 70px;
        font-family: $button-font;
        font-size: 1.9rem;
        font-weight: 700;
        color: $light-color;
        text-transform: uppercase;
        line-height: 5rem;
        letter-spacing: 0.1rem;
    }

    &__content-button:hover {
        background-color: $light-color;

        & .hero__content-link {
            color: $accent-color;
            transition: all .5s;
        }
    }

    &__img {
        max-width: 737px;
        max-height: 815px;
        margin-right: -157px;

        & img {
            width: 100%;
            height: 100%;
        }
    }
}

@media only screen and (max-width:1530px) {

    .hero {

        &__wrapper {
            align-items: center;
        }

        &__content {
            margin-top: 0;
        }

        &__img {
            max-width: 600px;
            max-height: 667px;
            margin-right: -15px;
        }
    }
}

@media only screen and (max-width:1279px) {

    .hero {

        padding-top: 115px;

        &__img {
            margin-right: 0px;
            max-width: 500px;
            max-height: 557px;
        }

        &__content {
            margin-left: 0;
            margin-right: 20px;
        }

        &__content-title {
            margin-bottom: 20px;
        }

    }
}

@media only screen and (max-width:1023px) {

    .hero {

        &__img {
            max-width: 450px;
            max-height: 500px;
        }

        &__content-title {
            min-width: 350px;
        }
    }
}

@media only screen and (max-width:768px) {

    .hero {

        padding-top: 85px;

        &__wrapper {
            flex-direction: column-reverse;

        }

        &__content {
            margin-right: 0;
        }

        &__content-title {
            min-width: 0;
            text-align: center;
            margin-top: 25px;
        }

        &__content-button {
            margin: 0 auto 20px;
        }

        &__content-link {
            padding: 0 65px;
        }

        &__content-text {
            font-size: 1.4rem;
            line-height: 2.2rem;
        }
    }
}

@media only screen and (max-width:450px) {

    .hero__content-title {
        letter-spacing: initial;
    }
}